body {
  /* background-color: #222; */
  background-color: #140f0a;
  min-height: 1000px;
}

.head {
  height: 160px;
}

.banner {
  position: absolute;
  z-index: -1;
  background: linear-gradient(90deg, rgba(128,101,72,1) 0%, rgba(245,228,179,1) 56%, rgba(88,64,43,1) 100%);
  height: 160px;
  width: 100%;

}
header {
  background: url(../assets/title-bar.jpg) no-repeat;
  margin: 0 auto;
  height: 60px;
  border: double black 6px;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  font-family: belwe;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  max-width: 500px;
}

header span{
  font-weight: 800;
  font-size: 68px;
  color: rgb(247,234,197);
  text-shadow: 2px 4px 3px rgba(0,0,0,1);
  -webkit-text-stroke: 1px black;
}

.grit {
  /* thank you Jeremy Frank from viget.com */
  -webkit-mask-image: url("../assets/grit.png");
  mask-image: url("../assets/grit.png");
}


.dim {
  background: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  z-index: 10001;
}


#modal {
  display: none;
  justify-content: center;
}


.drop-shadow-black{
  box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.75);
}

.drop-shadow-purple {
  box-shadow: 0px 6px 9px 0px rgba(196, 17, 241, 0.3);
}


.class-container{
  display: flex;
  justify-content: center;
}

.class-container img:hover {
  width: 105%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#class-list {
  cursor: pointer;
}

.flex-list{
  display: flex;
  flex-direction: row;
}

.flex-list li {
  margin-right: 5px;
}

section {
  display: flex;
  justify-content: center;
}

#card-container {
  border: 1px solid rgb(245,228,179);
  border-radius: 4px;

  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 650px;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 50px -10px rgba(76, 238, 130, 0.5);
  -moz-box-shadow: 10px 10px 50px -10px rgba(76, 238, 130, 0.5);
  box-shadow: 10px 10px 50px -10px rgba(76, 238, 130, 0.5);
}

#card-container ul { 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#card-container li {
  cursor: pointer;
  width: 175px;
}

#card-container img {
  width: 100%;
}

li {
  list-style-type: none;
}

@media only screen and (max-device-width: 736px) {
  .head {
    height: 300px;
    margin-bottom: 30px;
  }

  .banner {
    height: 300px;
  }

  header {
    height: 130px;
    max-width: 800px;
    padding-top: 15px;
    background: url(../assets/title-bar-mobile.jpg) no-repeat;
  }

  header span {
    font-size: 125px;
  }

  #popup {
    height: 50%;
  }

  .class-container img{
    width: 110px;
  }
  .class-container img:hover {
    width: 120px;
  }

  #card-container {
    width: 800px;
  }

  #card-container li {
    width: 250px;
  }
}